{% include 'admin-layout.html' %}


<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          
          <div class="col-lg-12">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Store statistics</h1>
              </div>
              <form action = "/Admin/Store" class="user" method="GET">
                <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <input type="text" class="form-control form-control-user" id="username" name="username" placeholder="Username" >
                        <div id="uname_response" ></div>
                    </div>
                    <div class="col-sm-6">
                        <input type="email" class="form-control form-control-user" id="exampleInputEmail" name="email" placeholder="Email Address" >
                    </div>
                </div>
                
                <button id="button"  class="btn btn-primary btn-user btn-block">
                  Go
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% if not success %}
    <div class="card shadow-lg my-5 bg-warning rounded-5">
        <h1 class="h3 text-gray-100 mx-auto my-auto p-2">Enter a username or email address</h1>
    </div>
    {% else %}

    <div class="row my-5">
        <div class="col-md-6 col-lg-6 col-sm-12 mb-2 order-12">
            <div class="card shadow-lg p-2">
                <div class="text-lg text-primary">{{user.firstname}} {{user.lastname}}</div>
                <div clas="text-md text-info">Usernumber : {{user.usernumber}}</div>
                <div clas="text-md text-info">Username : {{user.username}}</div>
                <div clas="text-md text-info">Email : {{user.email}}</div>
                <div clas="text-md text-info">Mobile number : {{user.phonenumber}}</div>
                <div clas="text-md text-info">Date of birth : {{user.dob}}</div>
                <div clas="text-md text-info">Created on : {{user.created_on}}</div>
                {% if user.verified != None %}
                    <div clas="text-md text-info">Verified on : {{user.verified_on}}</div>
                {% endif %}
                
            </div>
        </div>

        <div class="col-md-6 col-lg-6 col-sm-12 mb-2 order-1">
          <div class="row mb-3">
            <div class="col-12">
              <a class="btn btn-primary btn-user btn-block" href="/Admin/Store/Generateinvoice/{{store.store_id}}" target="_blank">Generate Invoice</a>
            </div>
              
          </div>
          <div class="row">
            <div class="col-12">
              <div class="card shadow-lg p-2">
                <div class="text-lg text-primary">{{store.store_name}}</div>
                <div clas="text-md text-info">Store Id : {{store.store_id}}</div>
                <div clas="text-md text-info">Incharge : {{store.store_incharge}}</div>
                <div clas="text-md text-info">Mobile Number : {{store.store_number}}</div>
                <div clas="text-md text-info">Store Address : {{store.store_address}} - {{store.store_pincode}}</div>
            </div>
            </div>
              
          </div>
            
        </div>
        
            
        
    </div>

    <div class="row">

      <div class="col-lg-12 col-md-12 col-sm-12">
          <div class = "row">

              <div class="col-md-6 col-lg-3 mb-4">
                  <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                      <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                          <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Books Currently Idle</div>
                          <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                              <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{tables['Books idle at the store']|length if tables['Books idle at the store']|length != none else "0"}} Books</div>
                            </div>
                            
                          </div>
                        </div>
                        <div class="col-auto">
                          <i class="fas fa-home fa-2x text-gray-300"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="col-md-6 col-lg-3 mb-4">
                  <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                      <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                          <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Books to be Picked up</div>
                          <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                              <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{tables['Books to be picked up']|length if tables['Books to be picked up']|length != none else "0"}} Books</div>
                            </div>
                            
                          </div>
                        </div>
                        <div class="col-auto">
                          <i class="fas fa-cart-plus fa-2x text-gray-300"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="col-md-6 col-lg-3 mb-4">
                  <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                      <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                          <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Books that will be dropped off</div>
                          <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                              <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{tables['Books that will be dropped off']|length if tables['Books that will be dropped off']|length != none else "0"}} Books</div>
                            </div>
                            
                          </div>
                        </div>
                        <div class="col-auto">
                          <i class="fas fa-cart-arrow-down fa-2x text-gray-300"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-6 col-lg-3 mb-4">
                  <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                      <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                          <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Successful transactions done</div>
                          <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                              <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{tables['Past transactions']|length if tables['Past transactions']|length != none else "0"}} Books</div>
                            </div>
                            
                          </div>
                        </div>
                        <div class="col-auto">
                          <i class="fas fa-history fa-2x text-gray-300"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>



          </div>
      </div>
  </div>

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">All the Books</h6>
                </div>
                {% if all_books_info|length != 0 and all_books_info != None %}
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                    <th>Book ID</th>
                                    <th>Book Name</th>
                                    <th>Book Price</th>
                                    <th>Store ID</th>
                                    <th>Usernumber</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Book ID</th>
                                        <th>Book Name</th>
                                        <th>Book Price</th>
                                        <th>Store ID</th>
                                        <th>Usernumber</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                {% for book in all_books_info %}
                                    <tr>
                                        <td><a class="text-gray-600" href="/Admin/Book/{{book.book_id}}" target="_blank" >{{book.book_id}}</a></td>
                                        <td>{{book.book_name}}</td>
                                        <td>{{book.book_price}}</td>
                                        <td><a class="text-gray-600" href="/Admin/Store/{{book.store_id}}" target="_blank" >{{book.store_id}}</a></td>
                                        <td><a class="text-gray-600" href="/Admin/User/{{book.usernumber}}" target="_blank" >{{book.usernumber}}</a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endif %}
            </div>

        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="card shadow mb-4">
              <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Invoices</h6>
              </div>
              {% if invoices|length != 0 and invoices != None %}
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0">
                              <thead>
                                  <tr>
                                    <th>Invoice Status</th>
                                    <th>Invoice ID</th>
                                    <th>Total</th>
                                    <th>Confirmed By</th>
                                    <th>Invoice Copy</th>
                                  </tr>
                              </thead>
                              <tfoot>
                                  <tr>
                                    <th>Invoice Status</th>
                                    <th>Invoice ID</th>
                                    <th>Total</th>
                                    <th>Confirmed By</th>
                                    <th>Invoice Copy</th>
                                  </tr>
                              </tfoot>
                              <tbody>
                              {% for invoice in invoices %}
                                  <tr class={{"table-danger" if invoice.invoice_status == 'pending'}}>
                                      <td>{{invoice.invoice_status}}</td>
                                      <td><a class="text-gray-600" href="/Admin/Invoice/{{invoice.invoice_id}}" target="_blank" >{{invoice.invooice_id}}</a></td>
                                      <td>{{invoice.invoice_total}}</td>
                                      <td><a class="text-gray-600" href="/Admin/User/{{invoice.confirmed_usernumber}}" target="_blank" >{{invoice.confirmed_usernumber}}</a></td>
                                      <td><a class="text-gray-600" href="{{invoice.invoice_url}}" target="_blank" >Link</a></td>
                                  </tr>
                              {% endfor %}
                              </tbody>
                          </table>
                      </div>
                  </div>
              {% endif %}
          </div>

      </div>
      </div>

      
        
    {% if tables|length != 0 and tables!= None %}
        {% for title,data in tables.items() %}
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">{{title}}</h6>
                </div>
                {% if data|length != 0 and data != None %}
                    
                        
                    <div class="card-body">
                        <div class="table-responsive">
                                <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                        <th>Transaction ID</th>
                                        <th>Book ID</th>
                                        <th>Book Price</th>
                                        <th>Lender</th>
                                        <th>Borrower</th>
                                        <th>Store</th>
                                        <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                        <th>Transaction ID</th>
                                        <th>Book ID</th>
                                        <th>Book Price</th>
                                        <th>Lender</th>
                                        <th>Borrower</th>
                                        <th>Store</th>
                                        <th>Status</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                    {% for transaction in data %}
                                        <tr>
                                        <td><a class="text-gray-600" href="/Admin/Transaction/{{transaction.transaction_id}}" target="_blank" >{{transaction.transaction_id}}</a></td>
                                        <td><a class="text-gray-600" href="/Admin/Book/{{transaction.book_id}}" target="_blank" >{{transaction.book_id}}</a></td>
                                        <td>{{transaction.book_price}}</td>
                                        <td><a class="text-gray-600" href="/Admin/User/{{transaction.lender_id}}" target="_blank" >{{transaction.lender_id}}</a></td>
                                        <td><a class="text-gray-600" href="/Admin/User/{{transaction.borrower_id}}" target="_blank" >{{transaction.borrower_id if transaction.borrower_id is not none}}</a></td>
                                        <td><a class="text-gray-600" href="/Admin/Store/{{transaction.store_id}}" target="_blank" >{{transaction.store_id if transaction.borrower_id is not none}}</a></td>
                                        <td>{{transaction.transaction_status if transaction.transaction_status is not none}}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                                </table>
                        </div>
                    </div>
                {% endif %}
            </div>
                 
        {% endfor %}
        
    
    {% endif %}
    {% endif %}


  </div>

</div>
   <!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
      <div class="copyright text-center my-auto">
        <span>Copyright &copy; Booksapp 2022</span>
      </div>
    </div>
  </footer>
  <!-- End of Footer -->
  
  </div>
  <!-- End of Content Wrapper -->
  
  </div>
  <!-- End of Page Wrapper -->
  
  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
  </a>   

  <!-- Bootstrap core JavaScript-->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/static/js/sb-admin-2.min.js"></script>
  
  <!-- Page level custom scripts -->
  <script src="/static/vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="/static/vendor/datatables/dataTables.bootstrap4.min.js"></script>
  <script src="/static/js/datatables-demo.js"></script>

  </body>

  </html>